%nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
  .container
    %a.navbar-brand{:href => "#page-top"} MITSUKI OOKA
    %button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarResponsive", "data-bs-toggle" => "collapse", :type => "button"}
      Menu
      %i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ms-auto
        %li.nav-item.mx-0.mx-lg-1
          %a.nav-link.py-3.px-0.px-lg-3.rounded{:href => "#portfolio"} PORTFOLIO
        %li.nav-item.mx-0.mx-lg-1
          %a.nav-link.py-3.px-0.px-lg-3.rounded{:href => "#about"} ABOUT
        %li.nav-item.mx-0.mx-lg-1
          %a.nav-link.py-3.px-0.px-lg-3.rounded{:href => "#skill"} SKILL
        %li.nav-item.mx-0.mx-lg-1
          %a.nav-link.py-3.px-0.px-lg-3.rounded{:href => "#experience"} EXPERIENCE
/ Masthead
%header.masthead.bg-primary.text-white.text-center
  .container.d-flex.align-items-center.flex-column
    / Masthead Avatar Image
    %img.masthead-avatar.mb-5{:alt => "Mitsuki", :src => "assets/img/avataaars.svg"}/
    / Masthead Heading
    %h1.masthead-heading.text-uppercase.mb-0 MITSUKI OOKA
    / Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        %i.fas.fa-star
      .divider-custom-line
    / Masthead Subheading
    %p.masthead-subheading.font-weight-light.mb-0 Full Stack Web Developer - Web Director
/ Portfolio Section
%section#portfolio.page-section.portfolio
  .container
    / Portfolio Section Heading
    %h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Portfolio
    / Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        %i.fas.fa-star
      .divider-custom-line
    / Portfolio Grid Items
    .row.justify-content-center
      / Portfolio Item 1
      -@portfolios.each do |portfolio|
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto{"data-bs-target" => "#portfolioModal1", "data-bs-toggle" => "modal"}
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                %i.fas.fa-plus.fa-3x
            %img.img-fluid{:alt => "...", :src => "assets/img/portfolio/cabin.png"}/
/ About Section
%section#about.page-section.bg-primary.text-white.mb-0
  .container
    / About Section Heading
    %h2.page-section-heading.text-center.text-uppercase.text-white About
    / Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        %i.fas.fa-star
      .divider-custom-line
    / About Section Content
    .row
      .col-lg-4.ms-auto
        %p.lead Full stack web engineer with high motivation and willingness to learn. 1 year of experience developing scalable web applications.
      .col-lg-4.me-auto
        %p.lead Having high interest in imporoving my backend, frontend and infrastructure skills and actively embed it in the web application.
/ Skill Section
%section#skill.page-section.text-secondary.mb-0
  .container
    / About Section Heading
    %h2.page-section-heading.text-center.text-uppercase.text-secondary Skill
    / Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        %i.fas.fa-star
      .divider-custom-line
    / About Section Content
    .row
      .col-lg-8.mx-auto
        .mb-5
          %h4.text-uppercase.mb-2
            Front-end
          .mb-2
          %h5
            HTML / CSS / Javascript / React Native
        .mb-5
          %h4.text-uppercase.mb-2
            Back-end
          .mb-2
          %h5
            Ruby / Python / Ruby on Rails
        .mb-5
          %h4.text-uppercase.mb-2
            croud
          .mb-2
          %h5
            AWS
        .mb-5
          %h4.text-uppercase.mb-2
            others
          .mb-2
          %h5
            GitHub / MySQL
%section#experience.page-section.bg-primary.text-white.mb-0
  .container
    / About Section Heading
    %h2.page-section-heading.text-center.text-uppercase.text-white history
    / Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        %i.fas.fa-star
      .divider-custom-line
    / About Section Content
    .row
      .col-lg-8.mx-auto.mb-5
        %div
          %h4.text-uppercase.mb-4
            Back-end Web Developer
          %h5
            Double Crop
          .mb-2
            %i.far.fa-calendar-alt
            %text
              05/2021 - Ongoing
            %i.fas.fa-map-marker-alt
            %text Tokyo, Japan

/ Footer
%footer.footer.text-center
  .container
    .row
      / Footer Location
      .col-lg-4.mb-5.mb-lg-0
        %h4.text-uppercase.mb-4 Location
        %p.lead.mb-0
          Tsukuda
          %br/
          Chuo-city, Tokyo, Japan
      / Footer Social Icons
      .col-lg-4.mb-5.mb-lg-0
        %h4.text-uppercase.mb-4 Contact
        %a.btn.btn-outline-light.btn-social.mx-1{:href => "https://www.facebook.com/mitsuki.ooka"}
          %i.fab.fa-fw.fa-facebook-f
        %a.btn.btn-outline-light.btn-social.mx-1{:href => "https://github.com/Mitsukiooka"}
          %i.fab.fa-fw.fa-github
=render 'portfolio_modal' 