.container
  %section#portfolio
    -@portfolios.each do |portfolio|
      .portfolioContainer
        %p=portfolio.title
        %p=portfolio.description
  %section#about
    %p
      I am Mitsuki
  %section#skill
    -@skills.each do |skill|
      %p=skill.name
  %section#experience
    -@experiences.each do |experience|
      %p=experience.summary