%nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
  .container
    %a.navbar-brand{:href => "#page-top"} MITSUKI OOKA
    %button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarResponsive", "data-bs-toggle" => "collapse", :type => "button"}
      Menu
      %i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ms-auto
        %li.nav-item.mx-0.mx-lg-1
          %a.nav-link.py-3.px-0.px-lg-3.rounded{:href => "#portfolio"} PORTFOLIO
        %li.nav-item.mx-0.mx-lg-1
          %a.nav-link.py-3.px-0.px-lg-3.rounded{:href => "#about"} ABOUT
        %li.nav-item.mx-0.mx-lg-1
          %a.nav-link.py-3.px-0.px-lg-3.rounded{:href => "#skill"} SKILL
        %li.nav-item.mx-0.mx-lg-1
          %a.nav-link.py-3.px-0.px-lg-3.rounded{:href => "#experience"} EXPERIENCE
/ Masthead
%header.masthead.bg-primary.text-white.text-center
  .container.d-flex.align-items-center.flex-column
    / Masthead Avatar Image
    %img.masthead-avatar.mb-5{:alt => "Mitsuki", :src => "../my_profile.png"}/
    / Masthead Heading
    %h1.masthead-heading.text-uppercase.mb-0 MITSUKI OOKA
    / Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        %i.fab.fa-jedi-order
      .divider-custom-line
    / Masthead Subheading
    %p.masthead-subheading.font-weight-light.mb-0 Full Stack Web Developer
/ Portfolio Section
%section#portfolio.page-section.bg-light.portfolio
  .container
    / Portfolio Section Heading
    %h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Portfolio
    / Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        %i.fas.fa-atom
      .divider-custom-line
    / Portfolio Grid Items
    .row.justify-content-center
      / Portfolio Item 1
      .col-md-6.col-lg-4.mb-5
        .portfolio-item.mx-auto{"data-bs-target" => "#portfolioModal1", "data-bs-toggle" => "modal"}
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              %text Movie Log
          %img.img-fluid{:alt => "movielog", :src => "../movielog.png"}/
      .col-md-6.col-lg-4.mb-5
        .portfolio-item.mx-auto{"data-bs-target" => "#portfolioModal2", "data-bs-toggle" => "modal"}
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              %text Memo App
          %img.img-fluid{:alt => "movielog", :src => "../memoapp_thumb.png"}/
/ About Section
%section#about.page-section.bg-primary.text-white.mb-0
  .container
    / About Section Heading
    %h2.page-section-heading.text-center.text-uppercase.text-white About
    / Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        %i.fab.fa-canadian-maple-leaf
      .divider-custom-line
    / About Section Content
    .row
      .col-lg-4.ms-auto
        %p.lead Full stack web engineer with high motivation and willingness to learn. 1 year of experience developing scalable web applications.
      .col-lg-4.me-auto
        %p.lead Having high interest in improving my backend, frontend and infrastructure skills and actively embed it in the web application.
/ Skill Section
%section#skill.page-section.bg-light.text-secondary.mb-0
  .container
    / About Section Heading
    %h2.page-section-heading.text-center.text-uppercase.text-secondary Skill
    / Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        %i.fas.fa-code
      .divider-custom-line
    / About Section Content
    .row
      .col-lg-8.mx-auto
        .mb-5
          %h4.text-uppercase.mb-2
            Front-end
          .mb-2
          %h5
            HTML / CSS / Javascript / React
        .mb-5
          %h4.text-uppercase.mb-2
            Back-end
          .mb-2
          %h5
            Ruby / Python / Ruby on Rails / Node.js
        .mb-5
          %h4.text-uppercase.mb-2
            croud
          .mb-2
          %h5
            AWS
        .mb-5
          %h4.text-uppercase.mb-2
            others
          .mb-2
          %h5
            GitHub / MySQL / Docker
%section#experience.page-section.bg-primary.text-white.mb-0
  .container
    / About Section Heading
    %h2.page-section-heading.text-center.text-uppercase.text-white Experience
    / Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        %i.fas.fa-laptop-code
      .divider-custom-line
    / About Section Content
    .row
      .col-lg-8.mx-auto.mb-5
        %div
          %h4.text-uppercase.mb-4
            Back-end Web Developer
          %h5
            Double Crop
          .mb-2
            %i.far.fa-calendar-alt
            %text
              05/2021 - Ongoing
            %i.fas.fa-map-marker-alt
            %text Tokyo, Japan
          .mb-2
            %text
              Double crop is a company that train web engineers then dispatch them to various IT companies.
              I've been working here as a Ruby engineer. Now I'm responsible for maintainence and development of EC service of e-book for education.
      .col-lg-8.mx-auto.mb-5
        %div
          %h4.text-uppercase.mb-4
            Back-end Web Developer
          %h5
            Info Athlete
          .mb-2
            %i.far.fa-calendar-alt
            %text
              07/2020 - 02/2021
            %i.fas.fa-map-marker-alt
            %text Tokyo, Japan
          .mb-2
            %text
              Info Athlete is a company that serves many industories by offering high quality web applications.
              I worked here as a Ruby engineer. I've made several web apps such as Employee training app, Job change site and Restaurants web site.
      .col-lg-8.mx-auto.mb-5
        %div
          %h4.text-uppercase.mb-4
            Data Specialist
          %h5
            Keyence Canada
          .mb-2
            %i.far.fa-calendar-alt
            %text
              11/2019 - 06/2020
            %i.fas.fa-map-marker-alt
            %text Toronto, Canada
          .mb-2
            %text
              Keyence is a worldwide industrial machinery maker.
              I worked here as a data analist. Making use of data, I expand potential customers and support our marketing team.
  .container
    / About Section Heading
    %h2.page-section-heading.text-center.text-uppercase.text-white Education
    / Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        %i.fas.fa-university
      .divider-custom-line
    .row
      .col-lg-8.mx-auto.mb-5
        %div
          %h4.text-uppercase.mb-4
            Global Japanese Studies
          %h5
            Meiji University
          .mb-2
            %i.far.fa-calendar-alt
            %text
              04/2013 - 03/2017
            %i.fas.fa-map-marker-alt
            %text Tokyo, Japan
      .col-lg-8.mx-auto.mb-5
        %div
          %h4.text-uppercase.mb-4
            Exchange program
          %h5
            University of Alabama
          .mb-2
            %i.far.fa-calendar-alt
            %text
              08/2015 - 12/2015
            %i.fas.fa-map-marker-alt
            %text Alabama, United States
      .col-lg-8.mx-auto.mb-5
        %div
          %h4.text-uppercase.mb-4
            English Leraning program
          %h5
            University of Toronto
          .mb-2
            %i.far.fa-calendar-alt
            %text
              08/2014 - 08/2014
            %i.fas.fa-map-marker-alt
            %text Alabama, United States

/ Footer
%footer.footer.text-center.bg-secondary
  .container
    .row
      / Footer Location
      .col-lg-4.mb-5.mb-lg-0
        %h4.text-uppercase.mb-4 Location
        %p.lead.mb-0
          Tsukuda
          %br/
          Chuo-city, Tokyo, Japan
      / Footer Social Icons
      .col-lg-4.mb-5.mb-lg-0
        %h4.text-uppercase.mb-4 Contact
        %a.btn.btn-outline-light.btn-social.mx-1{:href => "https://www.facebook.com/mitsuki.ooka", target: :blank }
          %i.fab.fa-fw.fa-facebook-f
        %a.btn.btn-outline-light.btn-social.mx-1{:href => "https://github.com/Mitsukiooka", target: :blank }
          %i.fab.fa-fw.fa-github
=render 'portfolio_modal' 