.container
  .title
    %h4 Link
  .menu 
    %ul
      %li
        =link_to 'FaceBook', "https://www.facebook.com/mitsuki.ooka", target: 'blank'
      %li
        =link_to 'Git Hub', "https://github.com/Mitsukiooka", target: 'blank'