%section#header
  .headercontainer
    .title
      %h1 MITSUKI OOKA
    .menu 
      %ul
        %li
          PORTFOLIO
        %li
          ABOUT
        %li
          SKILL
        %li
          EXPERIENCE